@font-face {
    font-family: 'gulax';
    src: url('Gulax-Regular.woff2') format('woff2'),
         url('Gulax-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}