@font-face {
    font-family: 'format1452';
    src: url('Format_1452.woff2') format('woff2'),
         url('Format_1452.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}