@font-face {
    font-family: 'karrik';
    src: url('Karrik-Regular.woff2') format('woff2'),
         url('Karrik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}